version: '3.8'

services:
  db:
    image: postgres:15
    container_name: product_importer_db
    environment:
      POSTGRES_DB: product_importer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: product_importer_redis
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: product_importer_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=django-insecure-change-me-in-production
      - DEBUG=True
      - DB_HOST=db
      - DB_NAME=product_importer
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  celery:
    build:
      context: .
      dockerfile: Dockerfile.celery
    container_name: product_importer_celery
    volumes:
      - .:/app
    environment:
      - SECRET_KEY=django-insecure-change-me-in-production
      - DEBUG=True
      - DB_HOST=db
      - DB_NAME=product_importer
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
      - web
    restart: unless-stopped

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    container_name: product_importer_celery_beat
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
    environment:
      - SECRET_KEY=django-insecure-change-me-in-production
      - DEBUG=True
      - DB_HOST=db
      - DB_NAME=product_importer
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis
      - web
    restart: unless-stopped

volumes:
  postgres_data: